.colorpho{
    display:table;
    width:100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('landingpagepic.jpg');
    background-position:center top;
    height:100%;
} body {
      margin: 0;
}

.coverpho {
      width: 100%;
      height: 75%;
      object-fit: cover;
      filter: brightness(60%); /* Darkens the image */
}

    /* Optional: dark overlay layer */
.image-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
}
.image-container {
      position: relative;
    }

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.vcenter {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100vh;
      width: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10rem;
}
.dwarning{
      z-index: 2;
      margin: 20px;
      left: 25%;
      right: 25%;
}
.products{
    margin: 1%;
}

#checkout_header{
    margin-top: 30px;
}

#checkout{
    margin-left: 10%;
    margin-right: 10%;
}

.backgroundwanted{
    background-color: #e4ede6;
    padding: 20PX;

}
.staddressc{
width: 75%;
}

.checkoutinfo{
    width: 25%
}

